In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn import utils
from sklearn import linear_model
from sklearn import svm
from sklearn.metrics import recall_score, precision_score
from sklearn.metrics import mean_absolute_error

In [4]:
df_1 = pd.read_excel('Отобранные данные 2.xlsx')
df_1.head()

,Unnamed: 0,Статус,Наименование КС,ОКПД 2,КПГЗ,Регион,НМЦК,Итоговая цена,Дата,Участники,Ставки,ИНН2,ИНН,Лаг%
0,0,Завершена,СТУЛЬЯ УЧЕНИЧЕСКИЕ,0,0106010301;0106010301,Москва,596790.0,593806.05,2021-06-30,1,1,8.912494e+17,d8912494ba2edd3bfeba55206a78a0f5,0.500000
1,1,Не состоялась,МЕДИЦИНСКИЕ РАСХОДНЫЕ МАТЕРИАЛЫ,0,0102105033;010210430501,Москва,4964.9,0.00,2022-10-04,0,0,2.375577e+20,237a5c57a66f02f8deb152e21f33863a,100.000000
2,2,Завершена,Видеокарта Palit PCI-E,0,1131708,Москва,462000.0,311850.00,2021-07-01,6,65,4.015701e+23,040f1570117a744d529f4675f827a50f,32.500000
3,3,Завершена,"ТОВАРЫ ИНФОРМАЦИОННО-ТЕХНОЛОГИЧЕСКИЕ, СРЕДСТВА...",0,0113110302;011304040605;0110040401;0113040401;...,Москва,505555.0,460042.90,2021-03-16,6,18,3.027443e+17,c00c03dca0274fe43fc34e974434a927,9.002403
4,4,Завершена,Пинцет острый,0,10210064804,Москва,2000.0,1980.00,2022-05-26,2,2,9.977674e+20,cc997efa7a6742b6119a3c253a084e80,1.000000

In [4]:
df_1.isnull().sum()

Unnamed: 0         0
Статус             0
Наименование КС    0
ОКПД 2             0
КПГЗ               0
Регион             0
НМЦК               0
Итоговая цена      0
Дата               0
Участники          0
Ставки             0
ИНН2               0
ИНН                0
Лаг%               0
dtype: int64

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246762 entries, 0 to 246761
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       246762 non-null  int64
 1   Статус           246762 non-null  object
 2   Наименование КС  246762 non-null  object
 3   ОКПД 2           246762 non-null  object
 4   КПГЗ             246762 non-null  object
 5   Регион           246762 non-null  object
 6   НМЦК             246762 non-null  float64
 7   Итоговая цена    246762 non-null  float64
 8   Дата             246762 non-null  datetime64[ns]
 9   Участники        246762 non-null  int64
 10  Ставки           246762 non-null  int64
 11  ИНН2             246762 non-null  float64
 12  ИНН              246762 non-null  object
 13  Лаг%             246762 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 26.4+ MB

In [5]:
df_2 = df_1['КПГЗ'].apply(lambda x: pd.Series(str(x).split(";"))).fillna(0)
def convert_currency(val):
    """
    Преобразует числовое значение строки в число с плавающей точкой:
     - удаляет $
     - удаляет запятые
     - преобразует в число с плавающей точкой
    """
    new_val = val.pd.Series(str(x).split(";"))
    return float(new_val)

In [11]:
#df_2=df_2.fillna(0)
df_2.head()

,0,1,2,3,4,5,6,7,8,9,...,464,465,466,467,468,469,470,471,472,473
0,0106010301,0106010301,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0102105033,010210430501,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1131708,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0113110302,011304040605,0110040401,0113040401,0113040403,01131406,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10210064804,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_2=df_2[0:473].astype(float)

In [6]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Columns: 474 entries, 0 to 473
dtypes: float64(474)
memory usage: 1.7 MB

In [7]:
df_3=df_1.join(df_2)

In [8]:
df_3.isnull().sum()

Unnamed: 0              0
Статус                  0
Наименование КС         0
ОКПД 2                  0
КПГЗ                    0
                    ...
469                246289
470                246289
471                246289
472                246289
473                246289
Length: 488, dtype: int64

In [9]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246762 entries, 0 to 246761
Columns: 488 entries, Unnamed: 0 to 473
dtypes: datetime64[ns](1), float64(478), int64(3), object(6)
memory usage: 918.7+ MB

In [20]:
df_3.head()

,Unnamed: 0,Статус,Наименование КС,ОКПД 2,КПГЗ,Регион,НМЦК,Итоговая цена,Дата,Участники,...,464,465,466,467,468,469,470,471,472,473
0,0,Завершена,СТУЛЬЯ УЧЕНИЧЕСКИЕ,0,0106010301;0106010301,Москва,596790.0,593806.05,2021-06-30,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Не состоялась,МЕДИЦИНСКИЕ РАСХОДНЫЕ МАТЕРИАЛЫ,0,0102105033;010210430501,Москва,4964.9,0.00,2022-10-04,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Завершена,Видеокарта Palit PCI-E,0,1131708,Москва,462000.0,311850.00,2021-07-01,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Завершена,"ТОВАРЫ ИНФОРМАЦИОННО-ТЕХНОЛОГИЧЕСКИЕ, СРЕДСТВА...",0,0113110302;011304040605;0110040401;0113040401;...,Москва,505555.0,460042.90,2021-03-16,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Завершена,Пинцет острый,0,10210064804,Москва,2000.0,1980.00,2022-05-26,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
df_1.head()

,Unnamed: 0,Статус,Наименование КС,ОКПД 2,КПГЗ,Регион,НМЦК,Итоговая цена,Дата,Участники,Ставки,ИНН2,ИНН,Лаг%
0,0,Завершена,СТУЛЬЯ УЧЕНИЧЕСКИЕ,0,0106010301;0106010301,Москва,596790.0,593806.05,2021-06-30,1,1,8.912494e+17,d8912494ba2edd3bfeba55206a78a0f5,0.500000
1,1,Не состоялась,МЕДИЦИНСКИЕ РАСХОДНЫЕ МАТЕРИАЛЫ,0,0102105033;010210430501,Москва,4964.9,0.00,2022-10-04,0,0,2.375577e+20,237a5c57a66f02f8deb152e21f33863a,100.000000
2,2,Завершена,Видеокарта Palit PCI-E,0,1131708,Москва,462000.0,311850.00,2021-07-01,6,65,4.015701e+23,040f1570117a744d529f4675f827a50f,32.500000
3,3,Завершена,"ТОВАРЫ ИНФОРМАЦИОННО-ТЕХНОЛОГИЧЕСКИЕ, СРЕДСТВА...",0,0113110302;011304040605;0110040401;0113040401;...,Москва,505555.0,460042.90,2021-03-16,6,18,3.027443e+17,c00c03dca0274fe43fc34e974434a927,9.002403
4,4,Завершена,Пинцет острый,0,10210064804,Москва,2000.0,1980.00,2022-05-26,2,2,9.977674e+20,cc997efa7a6742b6119a3c253a084e80,1.000000

In [20]:
#X= df_3.drop(['Unnamed: 0','Статус','Наименование КС','КПГЗ','Регион','ОКПД 2','Дата','ИНН',"Лаг%"], axis = 1)
X= df_3[['НМЦК','Итоговая цена','Участники','Ставки','ИНН2']]
y = df_3['Лаг%']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [12]:
clf = RandomForestClassifier(random_state=0, n_estimators = 100)

In [10]:
df_3=df_3.fillna(0)

In [38]:
df_3.head()

,Unnamed: 0,Статус,Наименование КС,ОКПД 2,КПГЗ,Регион,НМЦК,Итоговая цена,Дата,Участники,...,464,465,466,467,468,469,470,471,472,473
0,0,Завершена,СТУЛЬЯ УЧЕНИЧЕСКИЕ,0,0106010301;0106010301,Москва,596790.0,593806.05,2021-06-30,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Не состоялась,МЕДИЦИНСКИЕ РАСХОДНЫЕ МАТЕРИАЛЫ,0,0102105033;010210430501,Москва,4964.9,0.00,2022-10-04,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Завершена,Видеокарта Palit PCI-E,0,1131708,Москва,462000.0,311850.00,2021-07-01,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Завершена,"ТОВАРЫ ИНФОРМАЦИОННО-ТЕХНОЛОГИЧЕСКИЕ, СРЕДСТВА...",0,0113110302;011304040605;0110040401;0113040401;...,Москва,505555.0,460042.90,2021-03-16,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Завершена,Пинцет острый,0,10210064804,Москва,2000.0,1980.00,2022-05-26,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
classifiers = [
    
    linear_model.SGDRegressor(),
    linear_model.BayesianRidge(),
    linear_model.LassoLars(),
    linear_model.ARDRegression(),
    linear_model.PassiveAggressiveRegressor(),
    linear_model.TheilSenRegressor(),
    linear_model.LinearRegression()]
for item in classifiers:
    print(item)
    clf = item
    clf.fit(X_train, y_train)
    pred = clf.predict(X_test)
    print('Проверка  модели на метрике mean_absolute_error = ',mean_absolute_error(y_test,pred))

SGDRegressor()
Проверка  модели на метрике mean_absolute_error =  4.112103501076717e+59
BayesianRidge()
Проверка  модели на метрике mean_absolute_error =  285284.00334239594
LassoLars()
Проверка  модели на метрике mean_absolute_error =  29.560202182294564
ARDRegression()
Проверка  модели на метрике mean_absolute_error =  29.560202182294564
PassiveAggressiveRegressor()

D:\Anaconda\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLars())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

Проверка  модели на метрике mean_absolute_error =  177.4212529980292
TheilSenRegressor(max_subpopulation=10000)
Проверка  модели на метрике mean_absolute_error =  80154.6167429265
LinearRegression()
Проверка  модели на метрике mean_absolute_error =  29.560373523542673

In [33]:
df_4 = pd.read_excel('Chekpoint_test_data 4.xlsx')

In [29]:
df_4.head()

,Unnamed: 0,Наименование КС,ОКПД 2,КПГЗ,Регион,НМЦК,Дата,ИНН_хэш
0,254328,Флукорус р-р д/инф. 2 мг/мл 100 мл фл N 1x1 Си...,NaN,01.02.09.07.02,Москва,9216.00,2022-04-26 15:21:13.603,68943273880286298112.0
1,254336,"МАТЕРИАЛЫ ЛАКОКРАСОЧНЫЕ, ПОКРЫТИЯ НАНОСИМЫЕ (К...",NaN,01.11.03.05.01;01.11.03.05.07;01.11.03.05.06.0...,Москва,552918.95,2022-05-04 11:23:12.580,91148069759547506688.0
2,254360,Лента оградительная,NaN,01.11.09.01,Москва,49482.55,2021-06-30 11:41:23.967,9515326677487869952.0
3,254371,"Зеркало, под беленый дуб 40x150 см",NaN,01.20.12,Москва,4060.00,2021-11-26 16:17:08.390,68943273880286298112.0
4,254383,Циркуляционный насос Wester WCP 25-60G (130 мм...,NaN,01.11.01.07.01.11,Москва,2970.96,2021-11-29 10:11:04.947,8555827098345920266240.0

In [34]:
X_test = df_4[['НМЦК','ИНН_хэш']]

In [35]:
clf = linear_model.SGDRegressor()
clf.fit(X_train, y_train)

SGDRegressor()

In [37]:
pred = clf.predict(X_test)

D:\Anaconda\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- ИНН_хэш
Feature names seen at fit time, yet now missing:
- ИНН2
- Итоговая цена
- Ставки
- Участники

  warnings.warn(message, FutureWarning)

ValueError: could not convert string to float: '5,25183187530534+26'

In [26]:
df_4=pd.DataFrame(pred)

In [27]:
df_4.head()

              0
0 -5.962826e+53
1 -6.961249e+50
2 -2.690150e+48
3 -7.145241e+50
4 -1.598048e+51